.nav {
  display:flex;
  align-items:center;
}


.header_1{
  color:aqua;
  font-size:large;
  margin-right:auto;
}

.header_2{
  color:white;
  font-size: large;
  margin-left:auto;
}

.logo {
  width:70px;
}

.list {
  font-size:medium;
}