.nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}


.header_1{
  color:aqua;
  font-size:large;
  margin-right:auto;
  font-weight: 700;
  font-size: 22px;
}

.header_2{
  color:white;
  font-size: large;
  margin-left:auto;
  font-weight: 600
}

.logo {
  height: 30px;
  margin-right: 7px;
}

.list {
  margin-top: 46px;
  line-height: 19px;
  padding-block: 10px;
}

.body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #282D35;
}

.main {
  padding: 57px 27px;
}

.title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.list > li::marker {
  font-size: 1.4rem;
  color: #61DAFB;
}